<!doctype html>
<head>
<title>404</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
</head>
<body>
<h1><em>404</em>: File not found</h1>
<span>
    We searched the world and everything but can't find "{{ folder }}" :(
</span>
</body>

</html>
