<!doctype html>
<head>
<title>Browse{% if folder %}: {{folder}}{% endif %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.min.css') }}" type="text/css" />
</head>
<body>
<h1><em>Index of</em> <span>/{% if folder %}{{folder}}{% endif %}</span></h1>
<ul>
    {% if folder %}
    <li class="folder"><a href="/{{top}}">..</a></li>
    {% endif %}
    {% for file in files %}
    <li class="{{file[file.keys()[0]]}}"><a href="{% if folder %}/{{folder}}{% endif %}/{{file.keys()[0]}}">{{file.keys()[0]}}</a></li>
    {% endfor %}
</ul>
</body>

</html>
